*{
    margin: 0 auto; 
    padding: 0 auto; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.content-wrapper {
    min-width: 700px;
    width: 100%;
}

.footer {
    text-align: center;
    background-color: darkslategray;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: darkslategray;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    user-select: none;
    width: 40%;
}
 
.nav-links li{
    list-style: none;
}
 
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
 
.logo{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.content-home {
    padding: 20%;
    position: relative;
    /* height: 100vh; */
    color: white;
}

.content-home::before {
    background-image: url(/src/img/header.png);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;
}

.content-connect {
    padding: 15%;
}

.content-connect h1 {
    font-family: 'Noto Sans', sans-serif;
}

.content-home h2 { 
    font-size: 60px;
    position: relative;
    animation: text 3s 1;
    font-family: 'Noto Sans', sans-serif;
}

.content-home p{
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Piazzolla', serif;
    display: block;
    position: relative;
}

.content-connect h2,
.content-project h2 {
    font-size: 30px;
}

.content-home,
.content-project,
.content-connect,
.content-about {
    width: 100%;
    text-align: center;
}

.content-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#About {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.about {
    width: 50%;
    float: left;
}

.about p {
    font-family: 'Piazzolla', serif;
    font-size: 20px;
}

.content-project {
    overflow: hidden;
    padding: 10%;
    color: black;
    background-color: white;
}

.content-project h1 {
    font-family: 'Noto Sans', sans-serif;
}

.content-projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.project--1, 
.project--2,
.project--3{
    width: 700px;
    height: 450px;
    font-size: 14px;
    margin: 30px auto;
    text-align: center;
    padding-bottom: 20px;
    /* border: 5px solid black; */
}

.shortcuts {
    text-align: center;
    font-size: 25px;
}

.resume_btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.25%;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.85;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.github,
.google,
.linkedin {
    color: black;
}

.project-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Piazzolla', serif;
}

.source_code {
    background-color: white;
    color: black;
    border: 0.1px solid black;
    cursor: pointer;
    font-family: 'Piazzolla', serif;
}

@keyframes text {
    0%{
        color: darkslategray;
        margin-bottom: -20px;
    }
    30% {
        margin-bottom: 10px;
    }
}
 
@media screen and (max-width: 1025px){
    .nav-links {
        display: none; 
    }
}