*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
}

.conent-wrapper {
    padding-bottom: 0rem;
}

 /* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0rem;
    background-color: black;
} */

footer p {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 0vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    position: relative;
    width: 100%;
}
 
.logo{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
 
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
 
.nav-links li{
    list-style: none;
}
 
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.fwh-slide-home p,
.fwh-slide-contact p {
    line-height: 25px;
    text-align: center;
}

.fwh-slide-home h2,
.fwh-slide-contact h2 {
    text-align: center;
    font-size: 30px;
}

.fwh-slide-contact {
    text-decoration: underline;
}

.fwh-slide-project,
.fwh-slide-contact {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}

.fwh-slide-project {
    padding: 0%;
}

.fwh-slide-contact {
    padding: 0%;
}

.fwh-slide-projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.fwh-slide-home {
    width: 100%;
    background-color: white;
    color: black;
}

.fwh-slide-home {
    padding: 0%;
}

.project--1, 
.project--2{
    width: 500px;
    height: 300px;
    /* border: solid black; 
    box-sizing: border-box; */
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

@media screen and (max-width: 1450px){
    .nav-links {
        width: 35%;
    }
}
 
@media screen and (max-width: 1000px){
    .nav-links {
        display: none; 
    }
}