html {
    scroll-behavior: smooth;
}

.content-wrapper {
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 0.5%;
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    z-index: 9999;
}

.navbar-nav > li{
    margin-left: 15px;
    margin-right: 15px;
}

.content-home {
    padding: 20%;
    position: relative;
    color: white;
}

.content-home::before {
    background-image: url(/src/img/header.png);
    background-size: 100% 100%;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.91;
}

.content-connect {
    padding: 15%;
}

.content-connect h1 {
    font-family: 'Noto Sans', sans-serif;
}

.content-home h2 { 
    font-size: 60px;
    position: relative;
    animation: text 3s 1;
    font-family: 'Noto Sans', sans-serif;
}

.content-home p{
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Piazzolla', serif;
    display: block;
    position: relative;
}

.content-connect h2,
.content-project h1 {
    font-size: 30px;
}

.content-home,
.content-project,
.content-connect,
.content-about {
    width: 100%;
    text-align: center;
}

.content-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

#About {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.about {
    width: 50%;
    float: left;
}

.about p {
    font-family: 'Piazzolla', serif;
    font-size: 20px;
}

.content-project {
    padding-top: 5%;
    overflow: hidden;
    padding: 10%;
    color: black;
    background-color: white;
}

.content-project h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    padding-top: 10%;
    padding-bottom: 5%;
}

#Project1,
#Project2,
#Project3 {
    position: relative;
}

.cover_crop_img {
    display: block;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    background-color: white;
}

#Project1:hover .overlay,
#Project2:hover .overlay,
#Project3:hover .overlay {
    opacity: 1;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.caption h4 {
    font-size: 20px;
    color: black;
}

.shortcuts {
    text-align: center;
    font-size: 25px;
}

.btn.btn-dark {
    font-family: 'Piazzolla', serif; 
}

.prev, .next {
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.github,
.google,
.linkedin {
    color: black;
}

.project-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Piazzolla', serif;
}

.source_code {
    background-color: white;
    color: black;
    border: 0.1px solid black;
    cursor: pointer;
    font-family: 'Piazzolla', serif;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel .carousel-indicators li {
    background-color: #000;
    background-color: darkslategray;
}
  
.carousel .carousel-indicators .active {
    background-color: #000;
}

@keyframes text {
    0%{
        color: darkslategray;
        margin-bottom: -20px;
    }
    30% {
        margin-bottom: 10px;
    }
}
 
@media screen and (max-width: 540px){
    .content-home h2, 
    .content-project h1, 
    .content-connect h1,
    #About {
        font-size: 25px;
    }

    .content-home p,
    .about p,
    .shortcuts,
    .caption h4 {
        font-size: 14px;
    }

    .content-connect,
    .content-home {
        padding: 20%;
    }
}