*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.content-wrapper {
    min-width: 520px;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    position: fixed;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
 
.nav-links li{
    list-style: none;
}
 
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
 
.logo{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
    cursor: pointer;
}

.content-home p{
    padding-bottom: 5px;
}

.content-home h2,
.content-connect h2,
.content-project h2 {
    font-size: 30px;
}

.content-home,
.content-project,
.content-connect  {
    padding: 10%;
    text-align: center;
}

.content-project {
    color: white;
    background-color: black;
}

.content-projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.project--1, 
.project--2{
    width: 500px;
    height: 310px;
    font-size: 14px;
    margin: 1vh;
    text-align: center;
    /* border: 5px solid black; */
}

.shortcuts {
    text-align: center;
    font-size: 25px;
}

.github,
.google,
.linkedin {
    color: black;
}

.project-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Noto Sans', sans-serif;
}
 
@media screen and (max-width: 1025px){
    .nav-links {
        display: none; 
    }
}