*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.footer {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 0vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    position: relative;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
 
.nav-links li{
    list-style: none;
}
 
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
 
.logo{
    color: white; 
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
}

.content-contact {
    text-decoration: underline;
}

.content-home p,
.content-contact p {
    text-align: center;
}

.content-home h2,
.content-contact h2 {
    text-align: center;
    font-size: 30px;
}

.content-project,
.content-contact {
    width: 100%;
    height: auto;
}

.content-projectHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.project--1, 
.project--2{
    width: 500px;
    height: 300px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

@media screen and (max-width: 1450px){
    .nav-links {
        width: 35%;
    }
}
 
@media screen and (max-width: 1000px){
    .nav-links {
        display: none; 
    }
}